{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обращение #{{ complaint.id }}</title>
</head>
<body>
{% include 'manage/header.html' %}
    {% block admin_header %} {% endblock %}

<main>
    <input type="hidden" id="id" value="{{ complaint.id }}">
{{ complaint.category }}
    {{ complaint.content }}

    {% if complaint.is_anonymous == False %}
        {{ complaint.user_name }}
        {{ complaint.user_group }}
    {% else %}
        Анонимно
    {% endif %}



    {{ complaint.response_text }}
    {{ complaint.admin }}
</main>

{% include 'manage/footer.html' %}
    {% block admin_footer %} {% endblock %}
</body>
</html>