{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обращение #{{ complaint.id }}</title>
    <link rel="icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
{% include 'manage/header.html' %}
    {% block admin_header %} {% endblock %}

<main>
    <input type="hidden" id="id" value="{{ complaint.id }}">
{{ complaint.category }}
    {{ complaint.content }}

    {% if complaint.is_anonymous == False %}
        {{ complaint.user_name }}
        {{ complaint.user_group }}
    {% else %}
        Анонимно
    {% endif %}

    {{ complaint.created_at }}

<form action="/complaints/update/response/add/{{ complaint.id }}/" method="post">
    {% csrf_token %}
    <textarea name="response_text" id="response" placeholder="Ответ"></textarea>
    {% if complaint.is_public %}
    <input type="checkbox" name="is_published" id="published">
    {% endif %}
    <input type="submit" value="Отправить ответ">
</form>

<input type="text" name="reason" id="reason" placeholder="Причина блокирровки">
<select name="time" id="time">
    <option value="forever">Навсегда</option>
    <option value="1">Час</option>
    <option value="24">День</option>
    <option value="168">Неделя</option>
    <option value="720">Месяц</option>
</select>
<input id="block_user" type="button" value="Заблокировать пользователя">
<input id="remove_complaint" type="button" value="Удалить обращение">
</main>

{% include 'manage/footer.html' %}
    {% block admin_footer %} {% endblock %}
<script src="{% static 'manage/js/ban_user.js' %}"></script>
<script src="{% static 'manage/js/delete_complaint.js' %}"></script>
</body>

</html>