{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обращение #{{ complaint.id }}</title>
</head>
<body>
<input type="hidden" id="id" value="{{ complaint.id }}">
{{ complaint.category }}
    {{ complaint.content }}

    {% if complaint.is_anonymous == False %}
        {{ complaint.user_name }}
        {{ complaint.user_group }}
    {% else %}
        Анонимно
    {% endif %}

    {{ complaint.created_at }}

<form action="/update/response/add/{{ complaint.id }}/" method="post">
    {% csrf_token %}
    <textarea name="response" id="response" placeholder="Ответ"></textarea>
    <input type="submit" value="Отправить ответ">
</form>

<input type="text" name="reason" id="reason" placeholder="Причина блокирровки">
<input id="block_user" type="button" value="Заблокировать пользователя">
<input id="remove_complaint" type="button" value="Удалить обращение">

<script src="{% static 'manage/js/ban_user.js' %}"></script>
<script src="{% static 'manage/js/delete_complaint.js' %}"></script>

</body>
</html>