<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос #{{ unban_request.id }}</title>
</head>
<body>

    {% include 'manage/header.html' %}
    {% block admin_header %} {% endblock %}

    <main>
        <p>Запрос на разблокировку #{{ unban_request.id }}</p>
    <p>Причина блокировки - {{ unban_request.reason }}</p>
    <p>Текст запроса - {{ unban_request.request_text }}</p>
    <hr>
    <p>Обращение:</p>
    {% if unban_request.is_anonymous == True %}
        <p>Анонимное обращение</p>
    {% else %}
        <p>{{ unban_request.name }}</p>
    {% endif %}
    <p>{{ unban_request.category }}</p>
    <p>{{ unban_request.text }}</p>
    <p>Истекает {{ unban_request.ended_at|date:"j E H:i:s" }}</p>

    <form action="{% url 'approve_unban_requests' id=unban_request.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Разблокировать">
    </form>

    <form action="{% url 'close_unban_requests' id=unban_request.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Закрыть запрос">
    </form>
    </main>

    {% include 'manage/footer.html' %}
    {% block admin_footer %} {% endblock %}
</body>
</html>