<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% include 'manage/header.html' %}
    {% block admin_header %} {% endblock %}


<main>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Создана</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr class="unban-request" id="{{ request.id }}">
                <td>{{ request.id }}</td>
                <td>
                    {% if request.complaint.is_anonymous == False %}
                        {{ requests.complaint.user_name }}
                    {% else %}
                        Анонимно
                    {% endif %}
                </td>

                <td>{{ request.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.unban-request').forEach(btn => {
            btn.addEventListener('click', function () {
                window.location.href = `/manage/unban/request/check/${this.id}/`
            })
        })
    })
</script>

{% include 'manage/footer.html' %}
    {% block admin_footer %} {% endblock %}

</body>
</html>