{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вы заблокированы</title>
</head>
<body>

    <p>Вы заблокированы!</p>
    <div id="blocked-complaint">

    </div>
    <hr>
    <div>
        <form action="/manage/unban/request/" method="post">
            {% csrf_token %}
            <input type="hidden" name="complaint_id" id="complaint_id">
            <p>Если вы хотите подать запрос на разблокировку заполнить форму ниже:</p>
            <div id="form-block">
            
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3/dist/fp.min.js"></script>
    <script src="{% static '/core/js/getBlockComplaint.js' %}" ></script>
</body>
</html>