{% load static %}
{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'core/css/base.css'%}">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand " href="{% url 'index' %}">
      <img src="{% static 'core/img/logo.png'%}" alt="KS54" height="60">
    </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul style="justify-content: left" class="navbar-nav mx-auto text-center">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_complaints' %}">Мои обращения</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'create_complaint' %}">Создать обращение</a>
        </li>
      </ul>
      <!-- Кнопки справа -->
        <hr>
      <ul class="navbar-nav" style="align-items: center">
          {% if auth == False %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'auth' %}">Войти</a>
        </li>
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'exit' %}">Выйти</a>
        </li>
        <li class="nav-item">
          <p style="margin-bottom: 0" class="nav-link">{{ email}}</p>
        </li>
        <li class="nav-item user-logo">
          <img style="margin-bottom: 0" width="45" src="{% static 'core/img/user.png' %}" class="nav-link">
        </li>
          {% endif %}
      </ul>
    </div>


  </div>

</nav>
{% endblock %}