{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'core/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/base.css'%}">
    <title>КС-54 Связь с администрацией</title>
    <link rel="icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
</head>
<body>

    {% include 'core/header.html' %}
    {% block header %} {% endblock %}

<main>
     {% include 'core/notification.html' %}
    <!-- Информационный блок с заголовком -->
    <div class="container py-5 text-center">
        <h1 class="display-4 main-title"><strong>Колледж связи №54 им. П.М. Вострухина</strong></h1>
        <p class="lead mt-3 main-text">Задавайте вопросы, оставляйте обращения и помогайте делать колледж лучше!</p>
        <a href="{% url 'create_complaint' %}" class="btn btn-primary btn-lg mt-4">Оставить обращение</a>
        <p class="mt-3">или <a href="{% url 'board' %}">посмотрите уже существующие</a>.</p>
    </div>
    <hr>
    <!-- Информация о системе -->
    <div class="container my-5">
        <h2 class="text-center mb-4">Почему это важно?</h2>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="{% static 'core/img/question.png' %}" alt="Иконка вопроса" class="mb-3" width="65">
                <h5>Оставьте свой вопрос</h5>
                <p>Опишите проблему или предложите идею.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'core/img/feedback.png' %}" alt="Иконка обратной связи" class="mb-3" width="65">
                <h5>Получите ответ</h5>
                <p>Мы рассмотрим ваше обращение и дадим обратную связь.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'core/img/community.png' %}" alt="Иконка сообщества" class="mb-3" width="65">
                <h5>Сделайте колледж лучше</h5>
                <p>Ваши обращения помогут улучшить жизнь студентов и сотрудников.</p>
            </div>
        </div>
    </div>
</main>

{% include 'core/footer.html' %}
    {% block footer %} {% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
