<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ email }}
    {{ auth }}
    <br>
    {% for complaint in complaints %}
        {{ complaint.id }}
        {{ complaint.category }}
        {{ complaint.content }}
        {% if complaint.is_anonymous %}
            Анонимное обращение
        {% else %}
            {{ complaint.user_name }}
            {{ complaint.user_group }}
        {% endif %}
        Опубликовано - {{ complaint.is_published }}
        {{ complaint.status }}
        {% if complaint.response_text %}
            {{ complaint.response_text }}
        {% else %}
            Нет ответа
        {% endif %}
        {{ complaint.like_count }}
        {{ complaint.liked }}
        <br>
    {% endfor %}

</body>
</html>