{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% csrf_token %}
    {{ email }}
    {{ auth }}
    <br>
    {% for complaint in complaints %}
        <div class="complaint" cid="{{ complaint.id }}">
        {{ complaint.id }}
        {{ complaint.category }}
        {{ complaint.content }}
        {% if complaint.is_anonymous %}
            Анонимное обращение
        {% else %}
            {{ complaint.user_name }}
            {{ complaint.user_group }}
        {% endif %}
        Опубликовано - {{ complaint.is_published }}
        {{ complaint.status }}
        {% if complaint.response_text %}
            {{ complaint.response_text }}
        {% else %}
            Нет ответа
        {% endif %}
        <p id="counter-{{ complaint.id }}">{{ complaint.like_count }}</p>

        {% if complaint.liked == True %}
            <button id="unlike" style="background-color: red">unlike</button>
        {% else %}
            <button id="like" style="background-color: gray">like</button>
        {% endif %}
        <br>
        </div>
    {% endfor %}

</body>
<script src="{% static 'core/js/like-logic.js' %}"></script>
</html>