{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% csrf_token %}
    {{ email }}
    {{ auth }}
    <br>
    <input type="text" name="search" id="search" value="{{ search }}">

    {{ filter }}
    <label>
        <input type="radio" name="filter" value="likes" {% if filter == 'likes' %}checked{% endif %}>
        По лайкам
    </label>
    <label>
        <input type="radio" name="filter" value="time" {% if filter == 'time' %}checked{% endif %}>
        По времени
    </label>

    {% for complaint in complaints %}
        <div class="complaint" cid="{{ complaint.id }}">
        {{ complaint.id }}
        {{ complaint.category }}
        {{ complaint.content }}
        {% if complaint.is_anonymous %}
            Анонимное обращение
        {% else %}
            {{ complaint.user_name }}
            {{ complaint.user_group }}
        {% endif %}
        Опубликовано - {{ complaint.is_published }}
        {{ complaint.status }}
        {% if complaint.response_text %}
            {{ complaint.response_text }}
        {% else %}
            Нет ответа
        {% endif %}
        <p id="counter-{{ complaint.id }}"></p>

        {% if complaint.liked == True %}
            <button id="unlike" style="background-color: red">unlike</button>
        {% else %}
            <button id="like" style="background-color: gray">like</button>
        {% endif %}
        <br>
        </div>
    {% endfor %}

</body>
<script src="{% static 'core/js/like-logic.js' %}"></script>
<script src="{% static 'core/js/search-logic.js' %}"></script>
</html>