.flag{
    display: flex;
    align-items: center;
    gap:8px
}
.flag label{
    margin-bottom: 0;
}

.form-line{
    display: flex;
    gap: 10px;
}

@media (max-width: 991px) {
    .form-line{
        display: block;
    }
}

.btn-primary {
    background-color: #0056b3 !important;
    border-color: #004085 !important;
}
.btn-primary:hover {
    background-color: #003d82 !important;
    border-color: #002752 !important;
}

body {
    color: #333;
    background-color: #f9f9f9;
}


@media (max-width: 768px) {
    .form-control {
        width: 100%;
    }
}

.form-div{
    padding: 15px;
}
input:focus,button:focus,select:focus {
  outline: 3px !important;
  box-shadow: none !important;
}

.hidden { display: none; }