main {
  flex: 1;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 0;
}
@media (max-width: 768px) {
  .input-group{
    margin-bottom: 10px;
  }

}



#text-28{
  font-size: 28px !important;
}


input:focus,button:focus,select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.like-press{
  fill: red;
  stroke:red;
  stroke-width: 1.5px;
}

.like-no-press{
  fill: none;
  stroke:black;
  stroke-width: 1.5px;
}


content.no-scroll {
    overflow: hidden;
    opacity: 0.1;
    pointer-events: none;
    user-select: none;
}

svg{
  cursor: pointer;
}



.like-btn, .repost-btn{
  display: flex;
  gap:5px;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 3px 10px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.like-btn:hover, .repost-btn:hover{
  background-color: lightgrey;
}

@media (max-width: 1200px) {
  .like-btn:hover, .repost-btn:hover{
      background-color: white;
  }
}

.buttons{
  display: flex;
  gap: 10px;
}

.repost-open {
    position: fixed; /* Центрирование на экране */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Скрыто по умолчанию */
    z-index: 1000; /* Поверх остального контента */
    background: #fff; /* Белый фон */
    padding: 30px; /* Увеличенное внутреннее отступление */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* Улучшенная тень */
    border-radius: 12px; /* Скруглённые углы */
    width: 320px; /* Ширина модального окна */
    text-align: center; /* Центрирование текста */
}

/* Стиль заголовка */
.repost-open h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333; /* Более тёмный цвет */
}

/* Стиль кнопок */
.repost-open .btn {
    width: 100%;
    margin-bottom: 10px; /* Отступ между кнопками */
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 6px;
    font-weight: bold;
}

/* Кнопка закрытия (крестик) */
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #999;
    cursor: pointer;
}

.btn-close:hover {
    color: #333; /* Более насыщенный цвет при наведении */
}

/* Дополнительный стиль для кнопок */
.repost-open .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    transition: all 0.3s ease;
}

.repost-open .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}


.button{
    margin-bottom: 10px;
    width: 320px;
}

@media (max-width: 370px) {
    .button{
        width: 260px;
    }
}

@media (max-width: 310px) {
    .button{
        width: 210px;
    }
}

@media (max-width: 250px) {
    .button{
        width: 100%;
    }
}

