main {
  flex: 1;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem 0;
}
@media (max-width: 768px) {
  .input-group{
    margin-bottom: 10px;
  }

}



#text-28{
  font-size: 28px !important;
}


input:focus,button:focus,select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.like-press{
  fill: red;
  stroke:red;
  stroke-width: 1.5px;
}

.like-no-press{
  fill: none;
  stroke:black;
  stroke-width: 1.5px;
}




svg{
  cursor: pointer;
}



.like-btn{
  display: flex;
  gap:5px;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 3px 10px;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.like-btn:hover{
  background-color: lightgrey;
}

@media (hover: none) {
  .like-btn:hover {
      background-color: white;
  }
}